:root {
    --left-container-width: 70vw;
    --right-container-width: 90vw;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('./assets/Norse-Bold.otf');
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Lato';
}

/* LEFT CONTAINER */
.left.container {
    width: var(--left-container-width);
    background: url(./assets/background.jpg) no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: space-between;
}

.left > .odin-logo {
    width: 100%;
    padding: 0.8rem 0;
    background-color: rgba(95, 95, 95, 0.385);

    /* font */
    font-family: 'Norse Bold';
    font-size: 5rem;
    margin-top: 20vh;

    /* flex to center img and text */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.odin-logo img {
    width: 5rem;
}

.odin-logo,
.img-source {
    color: white;
}

/* RIGHT CONTAINER */
.right.container {
    background-color: #f9fafb;
    width: var(--right-container-width);
}

.right > p.info {
    padding: 3rem 0 2rem 0;
    font-weight: bold;
    max-width: 55ch;
}

.right > p.info > span {
    display: block;
    margin-top: 2rem;
    
}

.right > p.info,
form,
.bottom {
    padding-left: 2rem;
}

.right form {
    background-color: #ffffff;
}

/* debugging */
/* form > * {
    border: 2px solid red;
} */

form > div {
    /* flex */
    display: flex;
    flex-wrap: wrap;
    /* gap: 40px; */
}

form > div > div {
    display: flex;
    flex-direction: column;
    
    margin-right: 3.5rem;
    margin-bottom: 1rem;
}

form label {
    font-size: 1.7vh;
    color: rgb(100, 100, 100);
    letter-spacing: 1.5px;
}

form input {
    width: 12rem;

    outline: none;
    border: 2px solid #E5E7EB;
    border-radius: 3px;
    padding: 0.2rem 0;
}

form input:focus {
    /* outline-style: none; */
    outline: blue solid;
    box-shadow: 4px 4px 2px rgba(128, 128, 128, 0.36);
}

button {
    appearance: none;
    border: none;
    background-color: #5b8556;
    border-radius: 8px;

    color: white;
    
    font-weight: bold;
    padding: 10px 45px;
    margin-bottom: 0.35rem;
}

button:hover {
    color: #5b8556;
    background-color: white;
    border: 1px solid #5b8556;
    transition: 300ms;
}

button,
span.login {
    cursor: pointer;
}

.bottom p {
    font-size: 0.75rem;
}

span.login {
    color: #5b8556;
    padding-bottom: 3px;
}

span.login:hover {
    border-bottom: 3px solid #5b8556;
}

form input.error {
    border-color: red;
    outline: none;
}

form span.error {
    color: red;
    font-size: 0.6rem;   
}

@media only screen and (max-width: 980px) {

    body {
        display: block;
    }

    .left.container {
        width: 100%;
    }

    .odin-logo img {
        width: 15rem;
    }

    .left > .odin-logo {
        margin-top: 0;
        font-size: 15rem;
        height: 30vh;
    }

    .right.container {
        width: 100%;
    }

    .right.container > p.info {
        font-size: 2rem;
        max-width: 50ch;
    }

    .right.container h2 {
        font-size: 3rem;
        margin-bottom: 5vh;
    }

    .form > div {
        justify-content: center;
        flex-wrap: nowrap;
    }

    form label {
        font-size: 2.12vh;
    }
    
    form input {
        width: 100%;

        font-size: 3rem;

        padding: 1.8rem 1rem;
        margin-bottom: 5vh;
    }

    button {
        padding: 3rem;
        font-size: 3rem;
    }

    form span.error {
        font-size: 1.8rem;
        margin-bottom: 5vh;
    }

    input#password {
        margin-bottom: 0vh;
    }
}